### This script contains:

#### 1. Import libraries & dataset
#### 2. Hire Length Batches - Names
#### 3. Hire Length Batches - Numbered
#### 4. Creating Subsets of the HireLength_Batches
#### 5. Getting the counts of each batch, by user type

## 1. Import libraries & dataset

In [1]:
import quandl
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import os

In [2]:
#Ensuring that the graphs you create are displayed within the notebook without the need to "call" them specifically.
%matplotlib inline

In [3]:
#Folder path into usable string
path = r'C:\Users\willm\Dropbox\1 Data Analytics Course\1 New York Citibike Hire'

In [4]:
#Import Hire Dataset
NYB2020_HireLengths = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data', 'NYB2020merged.pkl'))

In [5]:
#Set Pandas to show all columns
pd.set_option("display.max_columns", None)

## 2. Hire Length Batches - Names

In [13]:
#Creating a new column to display flags, depending on the length of hire
NYB2020_HireLengths.loc[NYB2020_HireLengths['TripMins'] > 2880, 'HireLength_batches'] = 'More than 2 days'
NYB2020_HireLengths.loc[(NYB2020_HireLengths['TripMins'] > 1440) & (NYB2020_HireLengths['TripMins'] <= 2880), 'HireLength_batches'] = '2 days'
NYB2020_HireLengths.loc[(NYB2020_HireLengths['TripMins'] > 1080) & (NYB2020_HireLengths['TripMins'] <= 1440), 'HireLength_batches'] = '18 to 24 hours'
NYB2020_HireLengths.loc[(NYB2020_HireLengths['TripMins'] > 720) & (NYB2020_HireLengths['TripMins'] <= 1080), 'HireLength_batches'] = '12 to 18 hours'
NYB2020_HireLengths.loc[(NYB2020_HireLengths['TripMins'] > 360) & (NYB2020_HireLengths['TripMins'] <= 720), 'HireLength_batches'] = '6 to 12 hours'
NYB2020_HireLengths.loc[(NYB2020_HireLengths['TripMins'] > 180) & (NYB2020_HireLengths['TripMins'] <= 360), 'HireLength_batches'] = '3 to 6 hours'
NYB2020_HireLengths.loc[(NYB2020_HireLengths['TripMins'] > 60) & (NYB2020_HireLengths['TripMins'] <= 180), 'HireLength_batches'] = '1 to 3 hours'
NYB2020_HireLengths.loc[(NYB2020_HireLengths['TripMins'] > 30) & (NYB2020_HireLengths['TripMins'] <= 60), 'HireLength_batches'] = '30 mins to 1 hour'
NYB2020_HireLengths.loc[(NYB2020_HireLengths['TripMins'] > 15) & (NYB2020_HireLengths['TripMins'] <= 30), 'HireLength_batches'] = '15 to 30 mins'
NYB2020_HireLengths.loc[NYB2020_HireLengths['TripMins'] <= 15, 'HireLength_batches'] = 'Up to 15 mins'

In [14]:
NYB2020_HireLengths['HireLength_batches'].value_counts(dropna = False, ascending=True)

18 to 24 hours           3345
2 days                   3362
12 to 18 hours           4572
More than 2 days         5711
6 to 12 hours            8273
3 to 6 hours            35763
1 to 3 hours           377042
30 mins to 1 hour     2415130
15 to 30 mins         5413378
Up to 15 mins        11240281
Name: HireLength_batches, dtype: int64

<font color="blue"> <b>These numbers are for the total of the columns in the 'Hire Lengths by User Type' sheet in the Tableau Report.</b></font>

## 3. Hire Length Batches - Numbered
#### This is for easier typing of the names for the subsets

### - Batch Number 11 is to work out how many times Subscribers went over their allowance - more than 45 minutes.
#### It tells me how many Subscriber hires there were between 45 and 60 minutes. Which I can add to the number of hires by Customers between 30 and 60 mins, and all trips over 60 minutes.
#### This gives me my numbers for the 'Hire Lengths by User Type' sheet in the Tableau Report.

In [48]:
#Creating a new column to display flags, depending on the length of hire
NYB2020_HireLengths.loc[NYB2020_HireLengths['TripMins'] > 2880, 'HireLength_batches_number'] = '10'
NYB2020_HireLengths.loc[(NYB2020_HireLengths['TripMins'] > 1440) & (NYB2020_HireLengths['TripMins'] <= 2880), 'HireLength_batches_number'] = '9'
NYB2020_HireLengths.loc[(NYB2020_HireLengths['TripMins'] > 1080) & (NYB2020_HireLengths['TripMins'] <= 1440), 'HireLength_batches_number'] = '8'
NYB2020_HireLengths.loc[(NYB2020_HireLengths['TripMins'] > 720) & (NYB2020_HireLengths['TripMins'] <= 1080), 'HireLength_batches_number'] = '7'
NYB2020_HireLengths.loc[(NYB2020_HireLengths['TripMins'] > 360) & (NYB2020_HireLengths['TripMins'] <= 720), 'HireLength_batches_number'] = '6'
NYB2020_HireLengths.loc[(NYB2020_HireLengths['TripMins'] > 180) & (NYB2020_HireLengths['TripMins'] <= 360), 'HireLength_batches_number'] = '5'
NYB2020_HireLengths.loc[(NYB2020_HireLengths['TripMins'] > 60) & (NYB2020_HireLengths['TripMins'] <= 180), 'HireLength_batches_number'] = '4'
NYB2020_HireLengths.loc[(NYB2020_HireLengths['TripMins'] > 30) & (NYB2020_HireLengths['TripMins'] <= 60), 'HireLength_batches_number'] = '3'
NYB2020_HireLengths.loc[(NYB2020_HireLengths['TripMins'] > 15) & (NYB2020_HireLengths['TripMins'] <= 30), 'HireLength_batches_number'] = '2'
NYB2020_HireLengths.loc[(NYB2020_HireLengths['TripMins'] > 45) & (NYB2020_HireLengths['TripMins'] <= 60), 'HireLength_batches_number'] = '11'
NYB2020_HireLengths.loc[NYB2020_HireLengths['TripMins'] <= 15, 'HireLength_batches_number'] = '1'

In [49]:
NYB2020_HireLengths['HireLength_batches_number'] = NYB2020_HireLengths['HireLength_batches_number'].astype('int8')

In [50]:
NYB2020_HireLengths[['TripMins', 'HireLength_batches_number']].head(10)

   TripMins  HireLength_batches_number
0      13.0                          1
1      26.0                          2
2      24.0                          2
3      10.0                          1
4      12.0                          1
5      29.0                          2
6       3.0                          1
7      29.0                          2
8       2.0                          1
9       7.0                          1

In [19]:
NYB2020_HireLengths.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19506857 entries, 0 to 19506856
Data columns (total 27 columns):
 #   Column                     Dtype
---  ------                     -----
 0   tripduration               int64
 1   starttime                  object
 2   stoptime                   object
 3   start_station_id           int16
 4   start_station_name         object
 5   start_station_latitude     float64
 6   start_station_longitude    float64
 7   end_station_id             int16
 8   end_station_name           object
 9   end_station_latitude       float64
 10  end_station_longitude      float64
 11  bikeid                     int32
 12  usertype                   object
 13  birth_year                 int16
 14  gender                     int8
 15  start_hour                 int8
 16  start_date2                object
 17  temp                       int8
 18  rain_snow                  float16
 19  day_of_week                object
 20  day_of_week_number         int8
 21  month                      object
 22  month_number               int8
 23  TripMins                   float64
 24  age                        int16
 25  HireLength_batches         object
 26  HireLength_batches_number  int8
dtypes: float16(1), float64(5), int16(4), int32(1), int64(1), int8(6), object(9)
memory usage: 2.7+ GB

## 4. Creating Subsets of the HireLength_Batches

In [26]:
NYB2020_HireLengths1 = NYB2020_HireLengths[NYB2020_HireLengths['HireLength_batches_number']==1]

In [27]:
NYB2020_HireLengths2 = NYB2020_HireLengths[NYB2020_HireLengths['HireLength_batches_number']==2]

In [28]:
NYB2020_HireLengths3 = NYB2020_HireLengths[NYB2020_HireLengths['HireLength_batches_number']==3]

In [29]:
NYB2020_HireLengths4 = NYB2020_HireLengths[NYB2020_HireLengths['HireLength_batches_number']==4]

In [30]:
NYB2020_HireLengths5 = NYB2020_HireLengths[NYB2020_HireLengths['HireLength_batches_number']==5]

In [31]:
NYB2020_HireLengths6 = NYB2020_HireLengths[NYB2020_HireLengths['HireLength_batches_number']==6]

In [32]:
NYB2020_HireLengths7 = NYB2020_HireLengths[NYB2020_HireLengths['HireLength_batches_number']==7]

In [33]:
NYB2020_HireLengths8 = NYB2020_HireLengths[NYB2020_HireLengths['HireLength_batches_number']==8]

In [34]:
NYB2020_HireLengths9 = NYB2020_HireLengths[NYB2020_HireLengths['HireLength_batches_number']==9]

In [35]:
NYB2020_HireLengths10 = NYB2020_HireLengths[NYB2020_HireLengths['HireLength_batches_number']==10]

In [51]:
NYB2020_HireLengths11 = NYB2020_HireLengths[NYB2020_HireLengths['HireLength_batches_number']==11]

## 5. Getting the counts of each batch, by user type

In [37]:
NYB2020_HireLengths1['usertype'].value_counts(dropna = False, ascending=True)

Customer      1657561
Subscriber    9582720
Name: usertype, dtype: int64

In [38]:
NYB2020_HireLengths2['usertype'].value_counts(dropna = False, ascending=True)

Customer      1752595
Subscriber    3660783
Name: usertype, dtype: int64

In [39]:
NYB2020_HireLengths3['usertype'].value_counts(dropna = False, ascending=True)

Customer      215014
Subscriber    245305
Name: usertype, dtype: int64

In [40]:
NYB2020_HireLengths4['usertype'].value_counts(dropna = False, ascending=True)

Subscriber    127599
Customer      249443
Name: usertype, dtype: int64

In [41]:
NYB2020_HireLengths5['usertype'].value_counts(dropna = False, ascending=True)

Subscriber     9163
Customer      26600
Name: usertype, dtype: int64

In [42]:
NYB2020_HireLengths6['usertype'].value_counts(dropna = False, ascending=True)

Subscriber    2537
Customer      5736
Name: usertype, dtype: int64

In [43]:
NYB2020_HireLengths7['usertype'].value_counts(dropna = False, ascending=True)

Subscriber    1348
Customer      3224
Name: usertype, dtype: int64

In [44]:
NYB2020_HireLengths8['usertype'].value_counts(dropna = False, ascending=True)

Subscriber     874
Customer      2471
Name: usertype, dtype: int64

In [45]:
NYB2020_HireLengths9['usertype'].value_counts(dropna = False, ascending=True)

Subscriber     989
Customer      2373
Name: usertype, dtype: int64

In [46]:
NYB2020_HireLengths10['usertype'].value_counts(dropna = False, ascending=True)

Subscriber    1652
Customer      4059
Name: usertype, dtype: int64

In [52]:
NYB2020_HireLengths11['usertype'].value_counts(dropna = False, ascending=True)

Customer      215014
Subscriber    245305
Name: usertype, dtype: int64

<font color="blue"> <b>I copied all these numbers into Excel and imputed the Time Batches Names and Numbers</b></font>